* {
  box-sizing: border-box; /* Pour que les padding et margin ne modifient pas la taille de l'élément */
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0; /* Pour éviter les marges par défaut du navigateur */
  line-height: 1.5; /* Hauteur de ligne pour la lecture à l'écran */
  color: black;
  min-height: 100vh; /* Utilise la hauteur de la fenêtre pour empêcher le défilement supplémentaire */
}

/* Styles pour le mode clair */
body {
  background-color: white;
  max-width: 1720px;
  margin: auto;
}

/* Styles pour le mode sombre */
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode a,
.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode .stretched-text,
.dark-mode .centered-text {
  color: white;
}
.dark-mode #logo {
  filter: invert(1);
}
.dark-mode .mode-tog svg path {
  fill: white; /* L'icône devient blanche en mode sombre */
}

.mode-tog {
  flex: 1; /* Le bouton prend l'espace nécessaire à droite */
  display: flex;
  justify-content: flex-end; /* Place le bouton à droite */
  padding: 8px;
  transition: transform 0.2s ease;
}

img {
  max-width: 100%; /* Pour que les images ne dépassent pas de leur conteneur */
  height: auto; /* Pour garder le ratio de l'image */
}

figure {
  margin: 0; /* Pour éviter les marges par défaut du navigateur */
}

.stretched-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Cache le texte qui dépasse */
  padding: 20vh 0; /* Centre verticalement sans marges latérales fixes */
}

.stretched-text {
  font-family: 'Arial Black', sans-serif;
  font-size: 11vw; /* Taille initiale */
  max-width: 100%; /* Limite la largeur du texte */
  text-transform: uppercase;
  display: block;
  line-height: 0.8px;
  letter-spacing: -2px; /* Ajustez l'espacement des lettres */
  white-space: nowrap;
  transform: scaleX(1) scaleY(5); /* Étirement initial */
  margin: 20vh 0; /* Ajoute une marge de 20vh en haut et en bas */
}

/* Media queries pour ajuster la taille de la police sur des écrans plus petits */
@media (max-width: 800px) {
  .stretched-text {
    font-size: 12vw; /* Augmentez la taille pour les petits écrans */
    margin: 15vh 0; /* Réduit la marge en haut et en bas */
  }
}

@media (max-width: 500px) {
  .stretched-text {
    font-size: 12vw; /* Ajuste la taille pour les très petits écrans */
    margin: 10vh 0; /* Réduit encore plus la marge */
  }
}

.header {
  display: flex; /* Flexbox pour aligner les éléments */
  justify-content: space-between; /* Espace entre logo et bouton mode */
  align-items: center; /* Alignement vertical des éléments */
  position: sticky; /* Fixer en haut */
  top: 0;
  padding: 0 24px;
  backdrop-filter: blur(6px);
  z-index: 999;
  width: 100%; /* Occupe toute la largeur de l'écran */
  
}

.header h1 {
  margin: 6px 0;
  flex: 1; /* Le logo prend l'espace nécessaire à gauche */
}



.title span{
  display: none;
  flex: 1;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: black; /* Couleur par défaut */
}


@media(min-width: 768px) {
  .title span{
    display:inline
  }
}

/* Mode clair (par défaut) */
.title span {
  color: black; /* Noir pour le mode clair */
}

/* Mode sombre */
.dark-mode .title span {
  color: white; /* Blanc pour le mode sombre */
}

/* Styles pour la grille lumineuse */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  width: 80vw;
  height: 90vh;
  max-width: 100%;
  max-height: 100%;
  margin: 20px auto;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: background-color 0.5s, box-shadow 0.5s;
  position: relative;
  overflow: hidden;
}

.cell::after {
  content: attr(data-name);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}


/* En mode sombre */
body.dark-mode .cell::after {
  color: white;  /* Texte blanc en mode sombre */
}

/* En mode clair */
body:not(.dark-mode) .cell::after {
  color: black;  /* Texte noir en mode clair */
}

.cell:hover::after {
  opacity: 1;
}


/* Effet lumineux lorsque la cellule est active */
.cell.active {
  background-color: white;
  box-shadow: 0 0 10px 5px white;
}

/* Styles pour la grille en mode sombre */
.dark-mode .cell {
  background-color: white;
}

.dark-mode .cell.active {
  background-color: black;
  box-shadow: 0 0 10px 5px black;
}

#preview-container {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent; /* S'assure qu'il n'y a pas de fond blanc */
  display: none; /* Commence caché */
  position: absolute;
}

#preview-image {
  display: block; /* Évite les marges par défaut */
  width: auto;
  height: auto;
  max-width: 200px; /* Limite maximale de largeur */
  max-height: 200px; /* Limite maximale de hauteur */
}

.image-container {
  display: grid;
  margin: 0 0; /* Ajoutez une marge autour du conteneur d'images si nécessaire */
  gap: 2px;

}

@media (min-width:768px){
  .image-container {
   grid-template-columns: 1fr 1fr;
  }
  
}
.image-container img {
  max-width: 100%; /* Pour que les images prennent 48% de la largeur du conteneur et laissent de l'espace entre elles */
  height: auto;
}

p {
  text-indent: 1em; /* Crée un alinéa en déplaçant la première ligne de 2em */
  padding: 16px;
}


footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
  justify-content: center; /* Centre horizontalement le contenu global */
  align-items: center; /* Aligne les éléments verticalement */
  padding: 100px;
  gap: 10px; /* Espacement entre les colonnes */
  position: relative;
  max-width: 100%;
  text-align: center; /* Centre le texte dans chaque colonne */
}


/* Style pour les liens du footer */
footer a {
  text-decoration: none; /* Supprime le soulignement */
  color: inherit; /* Adopte la couleur par défaut */
  font-size: 1rem; /* Taille de police par défaut */
}

/* Survol en mode clair */
footer a:hover {
  color: white;
}

/* Survol en mode sombre */
.dark-mode footer a:hover {
  color: black;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
 }

.Liendescription{
  color:  red;
}


.description{
  padding: 20px;
  margin: 35px 0 0 75px; /* Marges plus grandes sur grand écran */
}
